/api/cdn/files/*
/api/cdn/posters_combined/*
/api/cdn/files/
/api/cdn/posters_combined/
/api/backups/*
api/instance/amanflix_db.db
api/logs/
api/logs/*
api/instance/amanflix_db.db
api/config/service_config.json
api/logs/amanflix.log
api/logs/api_requests.log
repo/node_modules/
repo/node_modules/*
api/uploads/
api/uploads/*
api/migrations/
api/migrations/*
.DS_Store
*.DS_Store
qr_encder2.5.py
update_tool.py


# Python cache files and directories
__pycache__/
*/__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
venv/
env/
ENV/
env.bak/
venv.bak/
amanflix_env/

amanflix-data-downloader/node_modules
amanflix-data-downloader/build

