.slider {
    text-align: center;
    font-family: sans-serif;
    margin-top: 0vh;
    /* position: relative; */
    margin-bottom: 10px;
    /* position:absolute; */
    width: 100%;
    /* top: 78%; */
    z-index: 100000 !important;
    
}

.lgksPe {
    height: 0px!important;
    width: 0px!important;
}

.lgksPe:disabled {
    height: 0px!important;
    width: 0px!important;
}

.sc-gKsewC {
    visibility: hidden;
}

.button3 {
    background-color: transparent;
    border: 0;
    outline: 0;
}


/* .my-carousel {
    position: relative;
  } */
  
  .my-carousel .rec-arrow {
    background-color: #141414;
    color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }
  
  .my-carousel .rec-arrow:hover {
    background-color: #222;
  }
  
  .my-carousel .rec-dot {
    background-color: #6c757d;
    box-shadow: none;
  }
  
  .my-carousel .rec-dot_active {
    background-color: #fff;

  }
  
  .my-carousel .rec-pagination {
    /* position: absolute; */
    top: 0;
    right: 0;
  }

  .my-carousel .bqCWu {
    border-radius: 0;
    color: #424242;
    height: 100%;
  }

  .my-carousel .iWchow {
    height: 100%;
    color: #FFFFFF;
    background-color: #141414;
    border-radius: 0;   
  }

  .rec.rec-arrow {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }
  
  .rec.rec-arrow:hover, .rec.rec-arrow:focus {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .rec-carousel-item:focus {
    outline: none;
    box-shadow: inset 0 0 1px 1px lightgrey;
  }
  
.slider-title {
  color: #f9fffe;
  text-align: left;
  padding-left: 20px;
  margin-bottom: 15px;
  font-size: 29px;
  font-weight: 200;
  cursor: point er;
}

.slider-title_link:hover {
  z-index: 100000 !important;
  text-decoration: underline;
  color: #e50914;
  cursor: pointer;
}
.slider-title_link:hover::after {
  content: ':';
}

@keyframes loading {
  0% {
      opacity: 0.7;
  }
  50% {
      opacity: 0.5;
  }
  100% {
      opacity: 0.7;
  }
}


