.watchPageContainer {
    display: flex;
    background-color: black;
    height: 100vh;
}

/* .watchPageContainer {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.watchPageContainer video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay button {
    padding: 10px 20px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} */

.video-player {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
}

video {
    width: 100%;
    display: block;
}

.controls {
    display: flex;
    background-color: aliceblue;
    bottom: 0;
    width: 100%;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    /* padding: 10px; */
}

.progress-bar,
.volume-control {
    flex: 1;
    margin: 0 10px;
}

.volume-control {
    width: 100px;
}