.upload__form {
    width: 80%;
}

.ant-upload {
    color: aliceblue;
}

.profile-form_uploading {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.ant-upload-list-item-name, .ant-progress-text, .ant-upload-list-item .anticon-paper-clip,.ant-upload-list-item .anticon-delete {
    color: aliceblue !important;
}

.ant-progress-circle-trail {
    stroke: #333 !important;
}

.vid_message {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    height: 40px;
    /* background-color: rgba(60, 180, 109, .5); */
    border-radius: 4px;
    padding-left: 10px;
    margin-top: 16px;
    transition: all 0.2s;
}

.vid_message p {
    margin-left: 5px;
    color: #fff;
}

.success {
    background-color: rgba(60, 180, 109, .5);
}

.error {
    background-color: rgba(229, 9, 20, .5);
}

.ant-input-group-addon {
    background-color: #fff !important;
    outline: none !important;
    border: none !important;
}