.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 5px));
    gap: 5px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.Movies_search_select .ant-select-selection-item {
    color: black !important;
}